<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Post</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <!-- lucide icons -->
    <script src="https://unpkg.com/lucide@latest"></script>
</head>

<body class="bg-gray-100 min-h-screen flex flex-col" data-theme="light">
<th:block th:replace="fragments/layout :: navbar"></th:block>

<main class="bg-gray-100 flex-grow flex justify-center items-start pt-8 pb-8">
<h2>Edit Post</h2>

<!--form for image upload-->
<form th:action="@{'/posts/' + ${post.id} + '/update'}"
      method="post"
      enctype="multipart/form-data">

    <!--this is the editable text field-->
    <label for="content">Content:</label><br>
    <textarea id="content"
              name="content"
              rows="5"
              cols="50"
              th:text="${post.content}">
    </textarea>

    <br><br>

    <!--this shows current image (only if exists)-->
    <div th:if="${post.imagePath != null}">
        <p>Current Image:</p>

        <img th:src="${post.imagePath}"
             alt="Post image"
             style="max-width:250px; display:block; margin-bottom:10px;"/>

        <!--this removes image checkbox-->
        <label>
            <input type="checkbox" name="removeImage">
            Remove this image
        </label>

        <br><br>
    </div>

    <!--this is where we  upload a new image-->
    <div>
        <label for="image">Upload a new image (optional):</label><br>
        <input type="file" name="image" id="image" accept="image/*">
    </div>

    <br>

    <!--Save button-->
    <button type="submit">Save Changes</button>
</form>

<!--this shows last edited timestamp-->
<p th:if="${post.editedAt != null}">
    Last edited on:
    <span th:text="${#temporals.format(post.editedAt, 'dd MMM yyyy HH:mm')}"></span>
</p>

<br>

<a th:href="@{/posts}">Cancel</a>
</main>
</body>
</html>
