<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Show Post</title>
</head>

<body>
<h2 th:text="${post.content}"> Post content</h2>
<p style="color: gray; font-size: 0.9em;">
    Posted on:
    <span th:text="${#temporals.format(post.createdAt, 'dd MMM yyyy HH:mm')}"></span>
</p>
    <form action="#" th:action="@{/posts/{id}/comment(id=${post.id})}" method="post">
        <p>Comment: <input type="text" name="content" required/></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>

        <h3>Comments</h3>
        <ul>
            <li th:each="singleComment : ${post.comment}">
                <span th:text="${singleComment.content}">Comment text</span>
                <small>
                    - by <span th:text="${singleComment.user.username}">User</span>
                    on <span th:text="${#temporals.format(singleComment.createdAt, 'dd MMM yyyy HH:mm')}"></span>
                </small>

            </li>
        </ul>

</body>
</html>