<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Comment</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <!-- lucide icons -->
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body class="bg-gray-100 min-h-screen flex flex-col" data-theme="light">
<th:block th:replace="fragments/layout :: navbar"></th:block>
<main class="bg-gray-100 flex-grow flex justify-center items-start pt-8 pb-8">
<h2>Edit Comment</h2>

<form th:action="@{'/posts/' + ${postId} + '/comments/' + ${comment.id} + '/update'}"
      method="post">

    <!-- Editable content field -->
    <textarea name="content" rows="3" cols="50"
              th:text="${comment.content}">
    </textarea>

    <button type="submit">Save</button>
</form>

<!-- show last edited timestamp -->
<p th:if="${comment.editedAt != null}">
    Last edited on:
    <span th:text="${#temporals.format(comment.editedAt, 'dd MMM yyyy HH:mm')}"></span>
</p>

<a th:href="@{'/posts/' + ${postId}}">Cancel</a>
</main>
</body>
</html>
